<!DOCTYPE html>
<html>
<head>
  <title><%= pageTitle %></title>
</head>
<body>
  <h1>Book Details</h1>
  <h2><%= book.title %></h2>
  <p>Author: <%= book.author %></p>
  <p>ISBN: <%= book.isbn %></p>
  <p>Average Rating: <%= book.avg_rating %></p>
  <!-- Additional book details and information can be displayed here -->
</body>
</html>
